In [3]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
import numpy as np
import pandas as pd
from PyVal import config

n_rows = 10

some_good_data = pd.DataFrame(
    {
        "text": [f"row{x}" for x in range(n_rows)],
        "int between 0 and 1e6": np.random.randint(0,1e6,n_rows),
        "float between -1 and 1": np.random.uniform(-1,1,n_rows)
    }
)

some_good_data.to_csv(config.good_data)
some_good_data

   text  int between 0 and 1e6  float between -1 and 1
0  row0                 656434                0.467603
1  row1                 965532               -0.324266
2  row2                 924427                0.317669
3  row3                 691342                0.794565
4  row4                 293081               -0.603171
5  row5                 435383                0.766100
6  row6                  58113               -0.516951
7  row7                 781710               -0.570904
8  row8                 639600                0.684790
9  row9                 834882                0.850383

In [ ]:
some_spicy_data = some_good_data.copy()