In [1]:
%load_ext autoreload
%autoreload 2

In [5]:
import numpy as np
import pandas as pd
from PyVal import config

n_rows = 10

some_good_data = pd.DataFrame(
    {
        "text": [f"row{x}" for x in range(n_rows)],
        "int between 0 and 1e6": np.random.randint(0,1e6,n_rows),
        "float between -1 and 1": np.random.uniform(-1,1,n_rows),
        "no nulls allowed": np.random.choice([True, False], n_rows),
        "iso 8601 compliant date": pd.date_range(start="2021-01-01", periods=n_rows, freq="1d").astype(str),
    }
)

some_good_data.to_csv(config.good_data)
some_good_data

,text,int between 0 and 1e6,float between -1 and 1,no nulls allowed,iso 8601 compliant date
0,row0,934944,-0.751395,False,2021-01-01
1,row1,842425,0.113027,True,2021-01-02
2,row2,220216,0.827346,True,2021-01-03
3,row3,138980,0.695968,True,2021-01-04
4,row4,907058,0.881549,False,2021-01-05
5,row5,396576,-0.813895,True,2021-01-06
6,row6,870306,-0.605758,True,2021-01-07
7,row7,981140,0.670950,True,2021-01-08
8,row8,266363,-0.285123,False,2021-01-09
9,row9,143593,-0.621424,True,2021-01-10

In [6]:
some_spicy_data = some_good_data.copy()

spicy_row = 10

some_spicy_data.loc[spicy_row,"text"] = 0
some_spicy_data.loc[spicy_row,"int between 0 and 1e6"] = -1
# cool this one faises a future warning on pandas 2.2.3!!
some_spicy_data.loc[spicy_row,"float between -1 and 1"] = "6"
# so does this one - because its any item incompatible with the dtype
some_spicy_data.loc[spicy_row,"no nulls allowed"] = None
# excel complaint date: is it DD-MM-YYYY or MM-DD-YYYY??? WE WILL NEVER KNOW ðŸ«£
some_spicy_data.loc[spicy_row,"iso 8601 compliant date"] = "10-10-2021"
# save to file
some_spicy_data.to_csv(config.spicy_data)

/var/folders/r2/l_8dc5791wg89yprgl5psj9m0000gn/T/ipykernel_51043/2478600644.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '6' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  some_spicy_data.loc[spicy_row,"float between -1 and 1"] = "6"